<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Radio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Frutas</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Abacate</ion-label>
        <ion-radio slot="start" value="abacate"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Maça</ion-label>
        <ion-radio slot="start" value="maca"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Morango</ion-label>
        <ion-radio slot="start" value="morando"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>