<ion-grid padding>
  <ion-row>
    <ion-col size="12">
      <h3>{{ person.name }}</h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8">
      Age: {{ person.age }} - Address: {{ person.address }} - City: {{ person.city }} - Country: {{ person.country }}
    </ion-col>
    
    <ion-col size="2">
      <ion-button (click)="update.emit(person)" expand="block" color="primary">
        <ion-icon slot="start" name="create"></ion-icon>
        Update
      </ion-button>
    </ion-col>

    <ion-col size="2">
      <ion-button (click)="delete.emit(person)" expand="block" color="primary">
        <ion-icon slot="start" name="trash"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>